html {
	--primary-color: #282c34;
	--secondary-color: #fff;
}

html[data-theme='dark'] {
	--primary-color: rgb(255, 255, 255);
	--secondary-color: #282c34;
}

.main,
.side-drawer {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.side-drawer {
	height: 100vh;
	overflow: scroll;
}

.container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	justify-content: center;
}

.switch {
	position: absolute;
	margin-left: 5%;
	margin-top: 20px;
	width: 50px;
	height: 24px;
	z-index: 1;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* .title {
	position: absolute;
	margin-top: 19px;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
} */

.people-icon {
	margin-left: 90%;
	margin-top: 20px;
	cursor: pointer;
}

hr {
	margin-left: 1%;
	margin-right: 1%;
}

input {
	border: 1px solid black;
	border-radius: 5px;
	padding: 8px;
	max-width: 40%;
	min-width: 40%;
	min-height: 20px;
	font-family: 'IBM Plex Mono', monospace !important;
	font-size: 0.9em;
	margin-right: 5px;
}
